body {
  font-family: Arial, sans-serif;
  background:rgb(234, 143, 143);;
  padding: 20px;
  text-align: center;
}

h1 {
    font-style: italic;
  margin-bottom: 20px;
}

#order-summary {
  background: #fff;
  padding: 15px;
  margin: 20px auto;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: left;
}

form {
  background: #fff;
  padding: 20px;
  width: 320px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: left;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px;
  border: 1px solid #ddd;
  border-radius: 5px1
}

button {
  background: #ff4081;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #e91e63;
}
.btn2{
  border: none;
   width: 10%;
  padding: 10px;
   border-radius: 5px;
   cursor: pointer;
}
