body {
     background-color: rgb(234, 143, 143);
  font-family: Arial, sans-serif;
  text-align: center
}
h1{
    font-style: italic;
    margin: 20px;
     color: rgb(179, 41, 87);
}
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px;
}
.car {
  border: 1px solid  rgb(222, 121, 155);
  border-radius: 20px;
  padding: 15px;
  width: 300px;
  background:  rgb(222, 121, 155);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}
.car :hover{
    transform: scale(1.05);

}
.car img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
button {
  background: #ff4081;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #e91e63;
}
