*{
    margin: 0px;
    padding: 0px;
}
.h11{
    font-style: italic;
    font-size: 50px;
    margin-left: 50px;
    margin-top: 50px;
}


.row{
    display: flex;
    background-color: rgb(234, 143, 143);
    padding: 10px;
    justify-content: space-around;
}
.wrapleft{
    background-color: rgb(234, 143, 143);
    width: 1000px;
    height: 600px;
}
.wrapright{
    background-color: rgb(234, 143, 143);
    width:  800px;
    height: 700px;

}
.h1{
    font-style: oblique;
    font-size: 50px;
    margin-left: 50px;
    margin-top: 50px;
}
.form{
    padding: 5px;
    margin-bottom: 50px;
    width: 600px;

}
.btn1{
     color: rgb(179, 41, 87);
    color: rgb(179, 41, 87);
     width: 300px;
     border-radius: 50px;
     margin-left: 50px;
     margin-top:  50px;
}
.text1{
     color: rgb(179, 41, 87);
    color: rgb(179, 41, 87);
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 50px;
}
.email{
     color: rgb(179, 41, 87);
    color: rgb(179, 41, 87);
    border-radius: 10px;
     margin-top: 50px;
    margin-left: 50px;

}
.pass{
    color: rgb(179, 41, 87);
    color: rgb(179, 41, 87);
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 50px;
}
.check{
     margin-top: 20px;
     margin-left: 60px;
     text-decoration: none;
     
}
.one{
    margin-left: 0px;
    margin-top: 0px;
    width: 600px;
    height: 600px;
}